@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400&display=swap');
body, html {
    font-family: 'Fira Code', monospace;
    font-size: 12px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}
.outer-container {
    display: flex;
    height: 100vh;
}
.column {
    flex: 1;
    box-sizing: border-box;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.column:last-child {
    border-right: none;
}
.scrollable {
    overflow-y: auto;
    flex-grow: 1;
		padding: 10px;
}
textarea {
    width: 100%;
    height: 100%;
    font-family: inherit;
    font-size: 12px;
    line-height: 1.5;
    box-sizing: border-box;
    border: 0px solid #ddd;
    resize: none;
		padding: 10px;
}
textarea:focus-visible {
    border: 0;
    outline-width: 0;
}
button {
    font: inherit;
    font-size: 12px;
    padding: 10px 15px;
    cursor: pointer;
}

.field-group {
	margin-left: 20px;
}
.field-row {
  display: flex;
  align-items: center;
	gap: 4px;
	margin-bottom: 4px;
}
.field-row > input[type="text"] {
  flex-grow: 1;
}
#fields select, #fields input[type="text"] {
    font-family: inherit;
    font-size: 9px;
    padding: 1px 4px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    color: #333;
    appearance: none;
    display: inline;
}
#fields select option {
    text-transform: lowercase;
}
.toggle-button {
    font-family: inherit;
    color: #333;
    cursor: pointer;
    padding: 0;
    margin-right: 5px;
    background: none;
    border: none;
    font-size: 12px;
    line-height: 1;
}
.spacer {
  width: 15px;
}
input[type="checkbox" i] {
	background-color: initial;
	cursor: default;
	appearance: auto;
	box-sizing: border-box;
	margin: 0;
	padding: initial;
	border: initial;
}